<div ng-controller="ListApplicationCtrl">
	<ul class="nav nav-tabs">
		<li ng-class="{active: status == 'pending'}">
			<a ng-click="switchStatus('pending')">Pending Approval</a>
		</li>
		<li ng-class="{active: status == 'approved'}">
			<a ng-click="switchStatus('approved')">Approved</a>
		</li>
		<li ng-class="{active: status == 'rejected'}">
			<a ng-click="switchStatus('rejected')">Rejected</a>
		</li>
		<li ng-class="{active: status == 'terminated'}">
			<a ng-click="switchStatus('terminated')">Terminated</a>
		</li>
	</ul>
	<table class="table table-striped">
		<tr>
			<th>English Name</th>
			<th>Chinese Name</th>
			<th>Nickname</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Weibo</th>
			<th>Date</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="application in applications">
			<td>{{application.englishName}}</td>
			<td>{{application.chineseName}}</td>
			<td>{{application.nickname}}</td>
			<td>{{application.mobile}}</td>
			<td><a target="blank" href="mailto:{{application.email}}">{{application.email}}</a></td>
			<td>{{application.weibo}}</td>
			<td>{{application.submissionDate|date:'short'}}</td>
			<td>{{application.status}}</td>
			<td>
				<a class="btn btn-small" href="#/application/{{application._id}}">View</a>
			</td>
		</tr>
	</table>
</div>