<div ng-controller="ListMemberCtrl">
	<div class="navbar">
		<div class="navbar-inner">
			<form class="navbar-search pull-left">
				<input type="text" class="search-query" placeholder="Filter members by name or email" ng-model="searchText">
			</form>
			<input value="Hide terminated members" type="button" class="btn pull-right" onclick="$('.anditsgone').toggleClass('hide');"/>
		</div>
	</div>
	<table class="table table-striped">
		<tr>
			<th>English Name</th>
			<th>Chinese Name</th>
			<th>Nickname</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Weibo</th>
			<th>Date</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="member in members|filter:searchText" ng-class="{anditsgone:member.status=='terminated'}">
			<td>{{member.englishName}}</td>
			<td>{{member.chineseName}}</td>
			<td>{{member.nickname}}</td>
			<td>{{member.mobile}}</td>
			<td><a target="blank" href="mailto:{{member.email}}">{{member.email}}</a></td>
			<td>{{member.weibo}}</td>
			<td>{{member.joinDate|date:'short'}}</td>
			<td>{{member.role}}</td>
			<td>
				<a class="btn btn-small" href="#/member/{{member.id}}">View</a>
			</td>
		</tr>
	</table>
</div>

