<div ng-controller="ListSignupCtrl" ng-cloak>
	<ul class="nav nav-tabs">
		<li ng-class="{active: status == 'pending'}">
			<a ng-click="switchStatus('pending')">Pending Approval</a>
		</li>
		<li ng-class="{active: status == 'approved'}">
			<a ng-click="switchStatus('approved')">Approved</a>
		</li>
		<li ng-class="{active: status == 'rejected'}">
			<a ng-click="switchStatus('rejected')">Rejected</a>
		</li>
	</ul>
	<div class="row">
		<div class="span8">
			<form class="navbar-search pull-left">
				<input autofocus type="text" class="search-query" placeholder="Filter signups by name or email" ng-model="searchText">
			</form>
		</div>
	</div>
	<hr/>
	<table class="table table-striped">
		<tr>
			<th ng-click="predicate = 'englishName';  reverse=!reverse">English Name</th>
			<th ng-click="predicate = 'chineseName';  reverse=!reverse">Chinese Name</th>
			<th ng-click="predicate = 'nickname';  reverse=!reverse">Nickname</th>
			<th ng-click="predicate = 'mobile';  reverse=!reverse">Mobile</th>
			<th ng-click="predicate = 'email';  reverse=!reverse">Email</th>
			<th ng-click="predicate = 'weibo';  reverse=!reverse">Weibo</th>
			<th ng-click="predicate = 'submissionDate';  reverse=!reverse">Date</th>
			<th ng-click="predicate = 'status';  reverse=!reverse">Status</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="signup in signups | filter:searchText |  orderBy:predicate:reverse">
			<td>{{signup.englishName}}</td>
			<td>{{signup.chineseName}}</td>
			<td>{{signup.nickname}}</td>
			<td>{{signup.mobile}}</td>
			<td><a target="blank" href="mailto:{{signup.email}}">{{signup.email}}</a></td>
			<td>{{signup.weibo}}</td>
			<td>{{signup.submissionDate|date:'short'}}</td>
			<td>{{signup.status}}</td>
			<td>
				<a class="btn btn-small" href="#/signup/{{signup.id}}">View</a>
			</td>
			
		</tr>
	</table>
	{{signups}}
</div>