<div ng-controller="NavCtrl" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">XinCheJian</a>
			<div class="nav-collapse collapse">
				<ul class="nav" ng-show="auth.isAuthenticated()">
					<li ng-class="{active:$location.path().indexOf('/application') == 0}"><a href="#/application/list">Applications</a></li>
					<li ng-class="{active:$location.path().indexOf('/member') == 0}"><a href="#/member/list">Members</a></li>
					<li ng-class="{active:$location.path().indexOf('/account') == 0}"><a href="#/account">Account Settings</a></li>
				</ul>
				<ul class="nav pull-right">
					<li ng-show="!auth.isAuthenticated()"><a href="#/login">Staff Member Login</a></li>
					<li ng-show="auth.isAuthenticated()"><p class="navbar-text">Hello {{auth.nickname()}}</p></li>
					<li ng-show="auth.isAuthenticated()"><a href="#/logout">Logout</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
