<div class="hero-unit" ng-controller="PasswordUpdateCtrl" ng-cloak>
	<form name="updateForm" class="form-horizontal" novalidate>
		<legend>Password Update</legend>
		<div class="alert" ng-show="errorMsg">{{errorMsg}}</div>
		<div class="control-group" ng-class="{
			error	: updateForm.currentPassword.$dirty && updateForm.currentPassword.$invalid,
			success	: updateForm.currentPassword.$dirty && updateForm.currentPassword.$valid
			}">
			<label class="control-label" for="currentPassword">Current Password</label>
			<div class="controls">
				<input type="password" name="currentPassword" placeholder="Current Password" ng-model='update.currentPassword' required>
				<span class="help-inline" ng-show="updateForm.currentPassword.$dirty && updateForm.currentPassword.$invalid">Current Password is required</span>
			</div>
		</div>
		<div class="control-group" ng-class="{
			error	: updateForm.password.$dirty && updateForm.password.$invalid,
			success	: updateForm.password.$dirty && updateForm.password.$valid
			}">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" name="password" placeholder="password" ng-model='update.password' required>
				<span class="help-inline" ng-show="updateForm.password.$dirty && updateForm.password.$invalid">Password is a required</span>
			</div>
		</div>
		<div class="control-group" ng-class="{
			error	: updateForm.confirmPassword.$dirty && updateForm.confirmPassword.$invalid,
			success	: updateForm.confirmPassword.$dirty && updateForm.confirmPassword.$valid
			}">
			<label class="control-label" for="confirmPassword">Confirm Password</label>
			<div class="controls">
				<input type="password" name="confirmPassword" placeholder="confirmPassword" ng-model='update.confirmPassword' required validate-equals='update.password'>
				<span class="help-inline" ng-show="updateForm.confirmPassword.$dirty && updateForm.confirmPassword.$invalid">Two passwords needs to match</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" ng-click="updatePassword()"
					ng-class="{disabled: updateForm.$invalid}"
					ng-disabled="updateForm.$invalid">Update Password</button>
			</div>
		</div>
</div>