<div ng-controller="ViewAccountCtrl">
<form name="members">
	<table class="table table-striped">
		<tr>
			<th>English Name</th><td><input ng-model="member.englishName"/></td>
		</tr>
		<tr>
			<th>Chinese Name</th><td><input ng-model="member.chineseName"/></td>
		</tr>
		<tr>
			<th>Nickname</th><td>{{member.nickname}}</td>
		</tr>
		<tr>
			<th>Mobile</th><td><input ng-model="member.mobile" /></td>
		</tr>
		<tr>
			<th>Email</th><td>{{member.email}}</td>
		</tr>
		<tr>
			<th>Weibo</th><td><input ng-model="member.weibo" /></td>
		</tr>
		<tr>
			<th>Role</th><td>{{member.role}}</td>
		</tr>
		<tr>
			<th>RFID</th><td><input ng-model="member.rfid"/></td>
		</tr>

		<tr>
			<th>Date</th><td>{{member.joinDate|date:'short'}}</td>
		</tr>
	</table>
	</form>
	<div class="row">
		<div class="span8 offset2">

			<a class="btn btn-medium" ng-hide="members.$pristine || (members.$dirty && members.$invalid)" ng-click="updateMember()">Save</a>
			<a class="btn btn-medium btn-warning" ng-href="#/account/password">Change Password</a>
			<a class="btn btn-medium" ng-href="#/member/list">Cancel</a>

		</div>
	</div>
</div>