<div ng-controller="ViewSignupCtrl" ng-cloak>
	<table class="table table-striped">
		<tr>
			<th>English Name</th><td>{{signup.englishName}}</td>
		</tr>
		<tr>
			<th>Chinese Name</th><td>{{signup.chineseName}}</td>
		</tr>
		<tr>
			<th>Nickname</th><td>{{signup.nickname}}</td>
		</tr>
		<tr>
			<th>Mobile</th><td>{{signup.mobile}}</td>
		</tr>
		<tr>
			<th>Email</th><td>{{signup.email}}</td>
		</tr>
		<tr>
			<th>Weibo</th><td>{{signup.weibo}}</td>
		</tr>
		<tr>
			<th>Introduction</th><td>{{signup.essay}}</td>
		</tr>
		<tr>
			<th>Date</th><td>{{signup.submissionDate|date:'short'}}</td>
		</tr>
	</table>
	<div class="row">
		<div class="span8 offset2">
			<a class="btn btn-medium" onClick="window.history.back();">Back</a>
			<a class="btn btn-medium" ng-show="signup.status == 'pending'" href="#/signup/approve/{{signup.id}}">Membership Approval</a>

			<ng-confirm ng-show="signup.status == 'pending'" title="Reject Signup?" action-text="Are you not sure not to do this?" action-button-text="Yeah!!!" action-function="remove(signup.id)" cancel-button-text="No Way">
				<button class="btn btn-medium btn-danger">Reject</button>
			</ng-confirm>

			<ng-confirm ng-show="signup.status == 'terminated'" title="Activate Membership" action-text="Are you not sure not to do this?" action-button-text="Yeah!!!" action-function="activate(signup.id);" cancel-button-text="No Way">
				<button class="btn btn-medium btn-danger">Activate</button>
			</ng-confirm>
				
			
		</div>
	</div>
</div>