<div ng-controller="ViewMemberCtrl">
	<table class="table table-striped">
		<tr>
			<th>English Name</th><td>{{member.englishName}}</td>
		</tr>
		<tr>
			<th>Chinese Name</th><td>{{member.chineseName}}</td>
		</tr>
		<tr>
			<th>Nickname</th><td>{{member.nickname}}</td>
		</tr>
		<tr>
			<th>Mobile</th><td>{{member.mobile}}</td>
		</tr>
		<tr>
			<th>Email</th><td>{{member.email}}</td>
		</tr>
		<tr>
			<th>Weibo</th><td>{{member.weibo}}</td>
		</tr>
		<tr>
			<th>RFID</th><td>{{member.rfid}}</td>
		</tr>

		<tr>
			<th>Role</th>
			<td>

        <div class="btn-group">
        	<button type="button" class="btn" bs-dropdown="roledropdown"> {{member.role}} <b class="caret"></b></button>
        </div>
      </td>
		</tr>
		<tr ng-show="badges.length";>
			<th>Badges</th>
			<td>
				<img ng-repeat="(name, icon) in badges" ng-src="images">
        <div class="btn-group">
        	<button type="button" class="btn" bs-dropdown="addBadge"> Add Badge <b class="caret"></b></button>
        </div>
      </td>
		</tr>
		<tr>
			<th>Date</th><td>{{member.joinDate|date:'short'}}</td>
		</tr>
	</table>
	<div class="row">
		<div class="span8 offset2">
			<a class="btn btn-medium" onClick="window.history.back();">Back</a>
			<a class="btn btn-medium btn-warning" ng-click="resetPassword();">Reset Password</a>
			<ng-confirm title="Terminate" action-text="Are you not sure not to do this?" action-button-text="Yeah!!!" action-function="remove()" cancel-button-text="No Way">
				<button ng-disabled="member.status=='terminated'" class="btn btn-medium btn-danger">Terminate Membership</button>
			</ng-confirm>
		</div>
	</div>
	<hr>
	<div class="row">
		<h2>Payment history</h2>
		<p class="text-right">
			<button class="btn btn-medium btn-primary" ng-click="showAddPayment()" ng-show="!paymentAdd">Add payment</button>
		</p>
		<form name="paymentForm" class="form-horizontal" novalidate>
			<div ng-show="paymentAdd">
				<div class="control-group" ng-class="{
					error	: paymentForm.length.$dirty && paymentForm.length.$invalid,
					success	: paymentForm.length.$dirty && paymentForm.length.$valid
					}">
					<label class="control-label" for="payment.length">Membership length</label>
					<div class="controls">
						<input type="text" name="length" ng-model="payment.length" required> months
						<span class="help-inline" ng-show="paymentForm.length.$dirty && paymentForm.length.$invalid">Membership Lengh is required</span>
					</div>
				</div>
				<div class="control-group" ng-class="{
					error	: paymentForm.fee.$dirty && paymentForm.fee.$invalid,
					success	: paymentForm.fee.$dirty && paymentForm.fee.$valid
					}">
					<label class="control-label" for="payment.fee">Payment amount</label>
					<div class="controls">
						<input type="text" name="fee" ng-model="payment.fee" required> RMB
						<span class="help-inline" ng-show="paymentForm.fee.$dirty && paymentForm.fee.$invalid">Membership payment amount is required</span>
					</div>
				</div>
				<div class="control-group" ng-class="{
					error	: paymentForm.date.$dirty && paymentForm.date.$invalid,
					success	: paymentForm.date.$dirty && paymentForm.date.$valid
					}">
					<label class="control-label" for="payment.date">Payment date</label>
					<div class="controls">
						<input type="date" name="date" ng-model="payment.date" required>
						<span class="help-inline" ng-show="paymentForm.date.$dirty && paymentForm.date.$invalid">Membership Valid Lengh is required</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-primary" ng-click="addPayment()"
							ng-class="{disabled: paymentForm.$invalid}"
							ng-disabled="paymentForm.$invalid">Confirm payment</button>
						<button class="btn btn-medium btn-primary" ng-click="hideAddPayment()" ng-show="paymentAdd">Cancel</button>
					</div>
				</div>
			</div>
		</form>
		<table class="table table-striped">
			<tr>
				<th>Payment Date</th><th>Amount</th><th>Membership length</th><th></th>
			</tr>
			<tr ng-repeat="payment in member.payments | orderBy:'paymentDate'">
				<td>{{payment.paymentDate|date:'short'}}</td>
				<td>{{payment.fee}}</td>
				<td>{{payment.months}}</td>
				<td><button ng-click="removePayment(payment.id)" class="btn btn-medium">remove</button></td>
			</tr>
		</table>
	</div>
</div>