<div class="hero-unit" ng-controller="ApproveApplicationCtrl">
	<form name="signUp" class="form-horizontal" novalidate>
		<legend>Test Form</legend>
		<div class="control-group">
			<label class="control-label" for="english_name">English Name</label>
			<div class="controls">
				<input type="text" name="english_name" placeholder="English Name" ng-model="application.englishName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="chinese_name">中文姓名</label>
			<div class="controls">
				<input type="text" name="chinese_name" placeholder="Chinese Name" ng-model="application.chineseName">
			</div>
		</div>
		<div class="control-group" ng-class="{
			error	: signUp.nickname.$dirty && signUp.nickname.$invalid,
			success	: signUp.nickname.$dirty && signUp.nickname.$valid
			}">
			<label class="control-label" for="nickname">Nickname</label>
			<div class="controls">
				<input type="text" name="nickname" placeholder="Nickname" ng-model="application.nickname" required>
				<span class="help-inline" ng-show="signUp.nickname.$dirty && signUp.nickname.$invalid">Nickname is a requirement at XinCheJian</span>
			</div>
		</div>
		<div class="control-group" ng-class="{
			error	: signUp.mobile.$dirty && signUp.mobile.$invalid,
			success	: signUp.mobile.$dirty && signUp.mobile.$valid
			}">
			<label class="control-label" for="mobile">Mobile</label>
			<div class="controls">
				<input type="text" name="mobile" placeholder="Mobile" ng-model="application.mobile" required>
				<span class="help-inline" ng-show="signUp.mobile.$dirty && signUp.mobile.$invalid">Mobile number is required</span>
			</div>
		</div>
		<div class="control-group" ng-class="{
			error	: signUp.email.$dirty && signUp.email.$invalid,
			success	: signUp.email.$dirty && signUp.email.$valid
			}">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="email" name="email" placeholder="Email" ng-model="application.email" required>
				<span class="help-inline" ng-show="signUp.email.$dirty && signUp.email.$invalid">Email address is required</span>
			</div>
		</div>
		<div class="control-group" ng-class="{
			error	: signUp.weibo.$dirty && signUp.weibo.$invalid,
			success	: signUp.weibo.$dirty && signUp.weibo.$valid
			}">
			<label class="control-label" for="weibo">Weibo</label>
			<div class="controls">
				<input type="text" name="weibo" placeholder="weibo" ng-model="application.weibo">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a class="btn btn-medium" onClick="window.history.back();">Back</a>
				<button class="btn btn-primary" ng-click="approve()"
					ng-class="{disabled: signUp.$invalid}"
					ng-disabled="form.$invalid">Approve Application</button>
				<a class="btn btn-medium" target="_blank" href="/qr">Generate Member QR Code</a>
			</div>
		</div>
	</form>
</div>
