<div ng-controller="ListMemberCtrl">
	<table class="table table-striped">
		<tr>
			<th>English Name</th>
			<th>Chinese Name</th>
			<th>Nickname</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Weibo</th>
			<th>Date</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="member in members">
			<td>{{member.englishName}}</td>
			<td>{{member.chineseName}}</td>
			<td>{{member.nickname}}</td>
			<td>{{member.mobile}}</td>
			<td><a target="blank" href="mailto:{{member.email}}">{{member.email}}</a></td>
			<td>{{member.weibo}}</td>
			<td>{{member.joinDate|date:'short'}}</td>
			<td>{{member.role}}</td>
			<td>
				<a class="btn btn-small" href="#/member/{{member._id}}">View</a>
			</td>
		</tr>
	</table>
</div>