module.exports = {
	smtp: {
		service: 'Gmail',
		auth: {
			user: 'gmail.user@gmail.com',
			pass: 'userpass'
		}
	},
	mongo: {
		url: 'mongodb://localhost/graham'
	},
	redis: {
		port: 6379,
		host: '10.0.10.23'
	}
};
